<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f.zxgk.mapper.ZxgkMapper">

    <delete id="deleteRe">
        delete from zxgk where id not in (select * from (select max(id) from zxgk z group by z.name, z.idnumber) t)
    </delete>
</mapper>